SERVER_HOST=localhost
SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=5433
DB_NAME=InfographicAppDB
DB_USER=postgres
DB_PASSWORD=change_me

JWT_SECRET=change_me
JWT_EXPIRES_HOURS=24

BACKUP_DIRECTORY=backups
PG_DUMP_PATH=C:\Program Files\PostgreSQL\18\bin\pg_dump.exe
PSQL_PATH=C:\Program Files\PostgreSQL\18\bin\psql.exe